
h1
{font-family: Righteous;
text-align: center;
color: white;}

p
{font-family: Righteous;
text-align: center;
color: white;}

body
{font-family: Righteous;
color: white;
background-color: #0041aa;}


